.table {
    user-select: none;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

    .table,
    .table th,
    .table td {
        user-select: none;
        border: 1px solid #ccc;
    }

        .table th,
        .table td {
            user-select: none;
            max-width: 0rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

.table-draggable th {
    position: relative;
}

.table .dragging-left {
    box-shadow: inset 5px 0px 0px 0px black;
}

.table .dragging-right {
    box-shadow: inset -5px 0px 0px 0px black;
}

.table-fix-head {
    overflow: auto;
    height: calc(100vh - var(--bb-layout-header-height));
}

﻿.table-nowrap {
    width: 100%;
    border-collapse: collapse;
}

.table-nowrap tr td, .table-nowrap tr th {
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-nowrap th {
    background: #eee;
}
