@page "/fetchdata"

<Table Height=800
       TItem="TestData"
       PageItems=23
       Items=Lines
       IsBordered="true"
       AllowResizing=true
       ScrollMode="ScrollMode.Virtual">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" TextEllipsis=true />
        <TableColumn @bind-Field="@context.Name" TextEllipsis=true />
    </TableColumns>
</Table>

@code {

    private IEnumerable<TestData> Lines { get; } = Enumerable.Range(0, 100000)
    .Select(i => $"{i}------{Guid.NewGuid()}")
    .Select(s => new TestData()
        {
            Name = s
        }).ToArray();

    public class TestData
    {
        public string Name { get; set; }
    }
}
