@page "/fetchdata"

<Table Height=800
       TItem="TestData"
       Items=Lines
       IsBordered="true"
       AllowResizing=true
       ScrollMode="ScrollMode.Virtual">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" TextEllipsis=true />
        <TableColumn @bind-Field="@context.Name" TextEllipsis=true />
    </TableColumns>
</Table>