.log-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

    .log-table th {
        background: #eee;
    }

    .log-table td {
        border: 1px solid #ccc;
    }

    .log-table th,
    .log-table td {
        max-width: 0rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.table-draggable th {
    user-select: none;
    position: relative;
}

.log-table .dragging-left {
    box-shadow: inset 5px 0px 0px 0px black;
}

.log-table .dragging-right {
    box-shadow: inset -5px 0px 0px 0px black;
}

.table-fix-head {
    overflow: auto;
    height: calc(100vh - var(--bb-layout-header-height));
}

    .table-fix-head thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
