<div class="menu-accordion">
    <div class="flex-fill">
        <i class="fa fa-fw fa-check-square-o"></i><!--!-->
        <span class="text">Counter</span>
    </div>
 @*   <label class="form-label" _bl_1c136207-4965-4454-92dc-11f24e7062fd="">手风琴效果</label>
    <div class="switch" style="min-width: 40px;">
        <span class="switch-core" style="width: 40px; height: 20px;"></span>
    </div><!--!-->
    <div style="width:1rem;">
    </div>
    <label class="form-label" _bl_0cd10578-02ed-4112-ba84-c0ae2bdee429="">全部展开</label>
    <div class="switch" style="min-width: 40px;">
        <span class="switch-core" style="width: 40px; height: 20px;">

        </span>
    </div>*@
</div>

@code {

}
