
.menu-accordion {
    display: flex;
    border-bottom: solid 1px #c0c4cc;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

    .menu-accordion .switch {
        width: auto;
    }

    .menu-accordion .form-label {
        margin: 0 0.5rem 0 0;
        overflow: hidden;
    }

    .menu-accordion .text {
        margin: 0 0.5rem 0 0;
        overflow: hidden;
    }

.layout-side.is-collapsed .menu-accordion {
    visibility: hidden;
}
