@if (SidebarMenu == null)
{
    return;
}
<RadzenPanelMenuItem Text="@SidebarMenu.Name" Path="@SidebarMenu.Path">
    <Template>
        <div class="rz-sidebar-menu-item-card">
            <i class="rzi">@((MarkupString)(SidebarMenu.Icon ?? ""))</i>
            <span class="rz-sidebar-menu-item-text">@SidebarMenu.Name</span>
        </div>
    </Template>
</RadzenPanelMenuItem>
@code {
    [Parameter]
    public Data.MenuSideBarItem? SidebarMenu { get; set; }
}