@page "/"
@inject IJSRuntime jsRuntime

@*<div class="table-fix-head">
    <table class="table table-sm table-nowrap">
        <thead>
            <tr>
                @foreach (var columnName in virtualizeTable.ColumnNames)
                {
                    <th>
                        <div class="table-cell"><span class="table-text">@columnName</span></div>
                        <span class="col-resizer"></span>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <Virtualize ItemsProvider="LoadForecasts" ItemSize="10">

                <tr>
                    @foreach (var data in context)
                    {
                        <td>
                            @data
                        </td>
                    }
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>*@

<Table Height=800
       TItem="RowData"
       IsBordered="true"
       AllowResizing=true
       OnQueryAsync="OnQueryAsync"
       ScrollMode="ScrollMode.Virtual">
    <TableColumns>
        <TableColumn @bind-Field="@context.Data" ArrayIndex="0" TextEllipsis=true />
    </TableColumns>
</Table>
