.table-nowrap {
    width: 100%;
    border-collapse: collapse;
}

    .table-nowrap tr td, .table-nowrap tr th {
        max-width: 10vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table-nowrap th {
        background: #eee;
    }

.table-fix-head {
    overflow: auto;
    height: calc(100vh - var(--bb-layout-header-height));
}

    .table-fix-head thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

.rc-handle-container {
    position: relative;
}

.rc-handle {
    position: absolute;
    width: 7px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2;
}

table.rc-table-resizing {
    cursor: ew-resize;
}

    table.rc-table-resizing thead,
    table.rc-table-resizing thead > th,
    table.rc-table-resizing thead > th > a {
        cursor: ew-resize;
    }
