#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

html {
    overflow-y: unset !important;
}

.m-data-table__wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.m-data-table__wrapper::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

.m-data-table__wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

.m-data-table__wrapper::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

.m-data-table--dense > .m-data-table__wrapper > table > tbody > tr > td, .m-data-table--dense > .m-data-table__wrapper > table > tbody > tr > th, .m-data-table--dense > .m-data-table__wrapper > table > tfoot > tr > td, .m-data-table--dense > .m-data-table__wrapper > table > tfoot > tr > th, .m-data-table--dense > .m-data-table__wrapper > table > thead > tr > td, .m-data-table--dense > .m-data-table__wrapper > table > thead > tr > th {
    height: 20px !important;
}

.m-data-table--fixed-header > .m-data-table__wrapper > table > thead > tr > th {
    height: 28px !important;
}

.m-data-table {
    line-height: 1 !important;
}

/* scrollbar in dialog */
.m-dialog .m-virtual-scroll::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

.m-dialog .m-virtual-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

.m-dialog .m-virtual-scroll::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

/* toast */
.m-toast-text.m-toast-detail {
    white-space: pre;
}