@page "/"
<div class="scroll">
    <table class="table table-draggable table-resizable">
        <thead>
            <tr>
                <th data-type="number">No.</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andrea</td>
                <td>Ross</td>
                <td>1985-12-24</td>
                <td>95945 Rodrick Crossroad</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Penelope</td>
                <td>Mills</td>
                <td>1978-8-11</td>
                <td>81328 Eleazar Fork</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sarah</td>
                <td>Grant</td>
                <td>1981-5-9</td>
                <td>5050 Boyer Forks</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Vanessa</td>
                <td>Roberts</td>
                <td>1980-9-27</td>
                <td>765 Daryl Street</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Oliver</td>
                <td>Alsop</td>
                <td>1986-10-30</td>
                <td>11424 Ritchie Garden</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Jennifer</td>
                <td>Forsyth</td>
                <td>1983-3-13</td>
                <td>04640 Nader Ramp</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Michelle</td>
                <td>King</td>
                <td>1980-8-29</td>
                <td>272 Alysa Fall</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Steven</td>
                <td>Kelly</td>
                <td>1989-8-6</td>
                <td>
                    5749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter
                    Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike749
                    Fosxter Pike749 Fosxter Pike749 Fosxter Pike749 Fosxter Pike
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>Julian</td>
                <td>Ferguson</td>
                <td>1981-9-17</td>
                <td>6196 Wilkinson Parkways</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Chloe</td>
                <td>Ince</td>
                <td>1983-10-28</td>
                <td>9069 Daniel Shoals</td>
            </tr>
        </tbody>
    </table>
</div>