@inherits LayoutComponentBase
<Layout ShowCollapseBar="true"
        TabDefaultUrl="/">
    <Header>
    </Header>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>