@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" ShowCollapseBar="true"
        IsFixedHeader="@IsFixedHeader"
        TabDefaultUrl="/"
        Menus="@Menus" AdditionalAssemblies="new[] { GetType().Assembly }" class="@Theme">
    <Header>
        <span class="ms-3 flex-fill">Bootstrap of Blazor</span>
        <div class="layout-drawer" @onclick="@(e => IsOpen = !IsOpen)"><i class="fa fa-gears"></i></div>
    </Header>
    <Side>
    </Side>
    <Main>
        @Body
    </Main>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>